# Don't allow raw read/write/open access to block_device
#allow fsck block_device:blk_file { read write ioctl open };
allow fsck block_device:blk_file { ioctl };
