allow mediaserver sysfs_camera:dir search;
allow mediaserver sysfs_camera:file { getattr open read };
allow mediaserver socket_device:sock_file write;
allow mediaserver system_prop:property_service set;
