allow rild proc_net:file { write };
allow rild sysfs_sec:file { getattr open read write };
allow rild system_app_data_file:dir search;
allow rild system_app_data_file:file { read write getattr open lock };
