# Temperature sensor daemon (root process)
type thermald, domain;

# Access to /dev/msm_thermal_query
allow thermald thermal_device:chr_file { getattr ioctl };
allow thermald sysfs_thermal:file { write };
